<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AddLoginInfoSoap" />
                <binding name="UserAuthenticationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cslab.sakarya.edu.tr/AddLoginInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="AddLoginInfoSoap"
                contract="ServiceReference1.AddLoginInfoSoap" name="AddLoginInfoSoap" />
            <endpoint address="http://cslab.sakarya.edu.tr/UserAuthentication.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserAuthenticationSoap"
                contract="ServiceReference2.UserAuthenticationSoap" name="UserAuthenticationSoap" />
        </client>
    </system.serviceModel>
</configuration>